@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
:root{
  /* Primary */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsl(256, 72%, 46%, 1);
  --persian-blue: hsl(241, 72%, 46%, 0);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}
*{
  font-family: 'HankenGrotesk', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}

/* Colors */

.dark-gray-blue{
  color: var(--dark-gray-blue);
}

/* Container */

.container{
  max-width: 600px;
  min-height: 400px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
.container-left, .container-right{
  width: 50%;
  padding: 30px 45px;
  border-radius: 30px;
}
.container-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, var(--light-slate-blue), var(--light-royal-blue));
}

/* Text */

.container-left h1{
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: var(--pale-blue);
  margin-bottom: 30px;
  letter-spacing: 0.25px;
}
.container-right h1{
  font-size: 16px;
  font-weight: 700;
  color: var(--dark-gray-blue);
  margin-bottom: 25px;
}
.container-left h2{
  color: var(--white);
  margin-bottom: 20px;
}
.container-left p{
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: var(--light-lavender);
}

/* Buble */

.buble{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  text-align: center;
  background: linear-gradient(180deg, var(--violet-blue), var(--persian-blue));
  padding: 20px;
  border-radius: 50%;
  line-height: 22px;
  margin-bottom: 30px;
}
.buble p{
  color: var(--white);
  font-size: 30px;
  font-weight: 800;
}
.buble span{
  color: var(--light-lavender);
  font-size: 14px;
  font-weight: 700;
}

/* Attribute */

.attribute{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  border-radius: 6px;
  margin-bottom: 15px;
}
.attribute:nth-child(2){
  background-color: hsla(0, 100%, 67%, 0.07);
}
.attribute:nth-child(3){
  background-color: hsla(39, 100%, 56%, 0.07);
}
.attribute:nth-child(4){
  background-color: hsla(166, 100%, 37%, 0.07);
}
.attribute:nth-child(5){
  background-color: hsla(234, 85%, 45%, 0.07);
  margin-bottom: 35px;
}
.attribute p{
  display: flex;
  align-items: center;
  justify-content: center;
}
.attribute p img{
  margin-right: 6px;
}
.attribute p:nth-child(1){
  font-size: 14px;
  font-weight: 700;
}
.attribute:nth-child(2) p:nth-child(1){
  color: var(--light-red);
}
.attribute:nth-child(3) p:nth-child(1){
  color: var(--orangey-yellow);
}
.attribute:nth-child(4) p:nth-child(1){
  color: var(--green-teal);
}
.attribute:nth-child(5) p:nth-child(1){
  color: var(--cobalt-blue);
}
.attribute p:nth-child(2){
  font-size: 14px;
  color: hsla(224, 30%, 27%, 0.5);
}
button{
  width: 100%;
  padding: 14px 0;
  background-color: var(--dark-gray-blue);
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
button:hover{
  background: linear-gradient(180deg, var(--light-slate-blue), var(--light-royal-blue));
}

/* Media queries - Phone */
@media (max-width: 375px) {
  body{
    height: 100%;
  }
  .container{
    flex-direction: column;
    box-shadow: none;
  }
  .container-left{
    width: 100%;
    padding: 30px 65px 35px 65px;
    border-radius: 30px;
  }
  .container-right{
    width: 100%;
    padding: 30px 25px;
    border-radius: 30px;
  }
  .container-left h1{
    font-size: 14px;
    margin-bottom: 20px;
  }
  .container-right h1{
    font-size: 14px;
    margin-bottom: 20px;
  }
  .container-left h2{
    font-size: 14px;
    margin-bottom: 15px;
  }
  .container-left p{
    font-size: 14px;
  }
  .buble{
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
  }
  .buble p{
    font-size: 26px;
  }
  .buble span{
    font-size: 12px;
  }
  .attribute{
    padding: 10px 10px;
    margin-bottom: 10px;
  }
  .attribute:nth-child(2){
    margin-bottom: 10px;
  }
  .attribute:nth-child(5){
    margin-bottom: 20px;
  }
  .attribute p:nth-child(1){
    font-size: 12px;
  }
  .attribute p:nth-child(2){
    font-size: 12px;
  }
  button{
    padding: 12px 0;
    font-size: 12px;
  }
}